{
    "env": {
        "node": true,
        "browser": true,
        "mocha": true
    },
    "globals": {
        "navigator",
        "$serverSide",
        "$isiOS",
        "$isAndroid",
        "$isBrowser"
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "jsx": true
    },
    "rules": {

        // Lint Rules

        "no-bitwise": 2,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-use-before-define": 2,
        "no-caller": 2,
        "no-new": 0,
        "no-undef": 0, // Fix Me
        "no-unused-vars": 0, // Fix Me
        "strict": 0,
        "max-params": [2, 5],
        "semi": 0,
        "no-cond-assign": 0,
        "no-loop-func": 0,
        "no-shadow": 0,
        "no-underscore-dangle": 0,

        // Style Rules

        "no-with": 1,
        "no-eval": 1,
        "space-after-keywords": 1,

        "curly": [1, "all"],
        "space-before-blocks": 1,
        "no-empty": 1,

        "space-before-function-parentheses": [1, "never"],
        "wrap-iife": 1,

        "space-in-brackets": [1, "never"],
        "space-in-parens": [1, "never"],

        "space-infix-ops": 1,
        "dot-notation": 1,

        "camelcase": 1,
        "no-multi-str": 1,

        "no-mixed-spaces-and-tabs": 1,
        "no-trailing-spaces": 1,
        "eol-last" : 1,

        "comma-spacing": [1, {"before": false, "after": true}],
        "indent": [1, 2],
        "quotes": [1, "single"]
    }
}
