{
  "extends": ["formidable/configurations/es6-react", "prettier", "jest-enzyme"],

  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "page": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "react/no-multi-comp": 0,
    "max-params": 0,
    "no-magic-numbers": 0,
    "react/prefer-es6-class": 0,
    "react/prop-types": 0,
    "react/sort-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-did-update-set-state": 0,
    "max-statements": 0,
    "no-invalid-this": 0,
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
