language: node_js

node_js:
  - '8'
  - '10'

sudo: false

branches:
  only:
    - master

script:
  - yarn run build
  - yarn run build-dist
  - yarn run check
  - yarn test
  - 'if [[ "$TRAVIS_NODE_VERSION" != "6" ]]; then yarn run test-e2e; fi'
