/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #dd4add;
  --ifm-color-primary-dark: #b13bb1;
  --ifm-color-primary-darker: #852c85;
  --ifm-color-primary-darkest: #6f256f;
  --ifm-color-primary-light: #e05ce0;
  --ifm-color-primary-lighter: #e780e7;
  --ifm-color-primary-lightest: #eb92eb;
  --ifm-code-font-size: 95%;
  --ifm-list-item-margin: 0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #dd4add;
  --ifm-color-primary-dark: #c743c7;
  --ifm-color-primary-darker: #b13bb1;
  --ifm-color-primary-darkest: #9b349b;
  --ifm-color-primary-light: #eb92eb;
  --ifm-color-primary-lighter: #f5c9f5;
  --ifm-color-primary-lightest: #f8dbf8;
  --ifm-list-item-margin: 0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.demo-slide {
  min-width: 100px;
  min-height: 100px;
}
