/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  color: var(--ifm-color-white);
  background-color: var(--brand-blue);
  position: relative;
  padding: 1.5rem;
  margin-bottom: 5rem;
  z-index: 1;
}

.hero:after {
  background: inherit;
  border-bottom: 10px solid var(--brand-orange);
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (min-width: 1416px) {
  .hero {
    padding: 3rem 0 4rem;
    margin-bottom: 10rem;
  }
}

.heroSubtitle {
  font-weight: 500;
  margin-bottom: 2rem;
}

.logoBadge {
  max-width: 8rem;
  margin-bottom: 0.75rem;
}

.codeSample {
  width: 100%;
}

.codeSampleWrapper {
  margin-top: 2rem;
}

@media (min-width: 1025px) {
  .codeSampleWrapper {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons .ctaButton {
  border-radius: 3px;
  border-color: var(--brand-orange);
  background-color: var(--brand-orange);
  color: white;
  padding: 0.75rem 1.75rem;
}
