name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Installation
        run: yarn install --frozen-lockfile --non-interactive
        env:
          CI: true

      - name: Build
        run: |
          yarn run build
          yarn run build-dist
      - name: Check
        run: |
          yarn run check
          yarn run test
